h2
{
    text-align: center;
}

table
{
    overflow: hidden;
    margin: 10px auto;
    width: 80%;
}

th
{
    background: rgba(84, 255, 159, 0.2);
}

th,
td
{
    text-align: center;
    position: relative;
    padding: 5px;
}

table,
th,
td
{
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
}

tr:nth-child(odd)
{
    background: rgba(43, 69, 124, 0.12);
}

tr:hover
{
    background: rgba(84, 139, 84, 0.5);
}

td:hover::after,
th:hover::after
{
    content: "";
    position: absolute;
    background: rgba(84, 139, 84, 0.5);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

.city-from
{
    display: block;
    margin: 0 auto;
    text-align: center;
}

figure.send-data
{
    border: 1px solid #d3d3d3;
    width: 500px;
    text-align: center;
    padding: 5px;
    margin: 10px 400px;
}

.send-data input,
.main-data input
{
    margin: 5px;
}

.main-data
{
    border: 1px solid #d3d3d3;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 1050px;

}

input:required:valid
{
    background: url("images/valid.png") no-repeat right top;
}

input:required:invalid
{
    background: url("images/invalid.png") no-repeat right top;
}

input:required:invalid ~ [type="submit"]
{
    visibility: hidden;
}

input#email:valid + input#phone:valid + [type="submit"]
{
    visibility: visible;
}

.terminal-a:checked ~ article tbody > tr:not(.terminal-a),
.terminal-b:checked ~ article tbody > tr:not(.terminal-b),
.terminal-c:checked ~ article tbody > tr:not(.terminal-c),
.terminal-d:checked ~ article tbody > tr:not(.terminal-d)
{
    display: none;
}

.arrival:checked ~ article tbody > tr:not(.arrival),
.departure:checked ~ article tbody > tr.arrival
{
    display: none;
}

.city-from[value="Москва"] ~ div tbody > tr:not([class~="moscow"]),
.city-from[value="Санкт-Петербург"] ~ div tbody > tr:not([class~="saint-petersburg"]),
.city-from[value="Екатеринбург"] ~ div tbody > tr:not([class~="ekaterinburg"]),
.city-from[value="Краснодар"] ~ div tbody > tr:not([class~="krasnodar"]),
.city-from[value="Париж"] ~ div tbody > tr:not([class~="paris"]),
.city-from[value="Баку"] ~ div tbody > tr:not([class~="baku"]),
.city-from[value="Берлин"] ~ div tbody > tr:not([class~="berlin"])
{
    display: none;
}